{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/about.css'%}">
    <link rel="stylesheet" href="{% static  'css/contact.css'%}">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <div class="header"><h1>AUTO <span>TAK</span></h1></div>
        <div class="splitter">  
        <div class="div1">
            <a href="{% url 'cars' %}">Cars</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'contact' %}"> Contact Us</a>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
            <button id="btn" class="btn"></button>
        </div>
    </div>
    </nav>
    
    <section>
        <div class="container">
            <img src="https://www.bmwgroup.com/content/dam/grpw/websites/bmwgroup_com/brands/bmw_i/2023/230201_BMW_Group_BMW_i4eDrive40.png" alt="">
            <div class="abu">
                <h3>{{ about.header }}</h3>
                <p>{{ about.parag1 }}</p>
                <p>{{ about.parag2 }}</p>
            </div>

        </div>
   
    <div class="slider"  id="slider">
        <a href="{% url 'contact' %}">Contact Us</a>
        <a href="{% url 'cars' %}">Cars</a>
        <a href="{% url 'home' %}">Home</a>
        <button id="close" class="close"></button>
        
    </div>
    </section>


 


    <script src="{%static 'css/mind.js'%}"></script>
</body>
</html>