{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/cars.css'  %}">
    <link rel="stylesheet" href="{% static  'css/cars2.css' %}">
    <link rel="stylesheet" href="{% static  'css/cars3.css' %}">
    <title>Cars</title>
</head>
<body>
    <nav>
        <div class="header"><h1>AUTO <span>TAK</span></h1></div>
        <div class="splitter">  
        <div class="div1">
            <a href="{% url 'contact' %}">Contact Us</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
            <button id="btn" class="btn"></button>
        </div>
    </div>
    </nav>
    <div class="container">
      {% for car in cars %}  
    <div class="card">
          
        <img src="{{car.img.url}}" alt=""> 
        
        <div class="stats">
            <h4>{{car.cars_name}}</h4>
            <div class="parag">
            <p><span>KMs :</span> {{ car.kms}}</p>
            <p><span>color :</span> {{ car.color }}</p>
            <p><span>maintenance :</span> {{ car.maintance }}</p>
        </div>
        </div >
        <div class= "info"><a href="{% url 'car_pic' car.id %}">More Info</a></div>
    </div>
    
     {% endfor %}
     <div class="slider"  id="slider">
        <a href="{% url 'contact' %}">Contact Us</a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <button id="close" class="close"></button>
        
    </div>
    
    </div>
     <!--
    <div class="card">
        <img src="https://media.istockphoto.com/id/907671144/photo/new-black-metallic-sedan-car-in-spotlight-modern-desing-brandless.jpg?s=612x612&w=0&k=20&c=21WCXCFFvFYtO9-0UiAhNH8xaC8p12IT9_dNHqm9klk=" alt="">
        <div class="stats">
            <h4>MERCEDES</h4>
            <div class="parag">
            <p><span>KMs :</span> 100</p>
            <p><span>color :</span> none</p>
            <p><span>maintance</span> Perfect</p>
        </div>
        </div >
        <div class= "info"><a href="#">More Info</a></div>
    </div> 
    -->
    <!--
    <div class="card">
        <img src="https://images.pexels.com/photos/3729464/pexels-photo-3729464.jpeg?cs=srgb&dl=pexels-mike-bird-3729464.jpg&fm=jpg" alt="">
        <div class="stats">
            <h4>MERCEDES</h4>
            <div class="parag">
            <p><span>KMs :</span> 100</p>
            <p><span>color :</span> none</p>
            <p><span>maintance</span> Perfect</p>
        </div>
        </div >
        <div class= "info"><a href="#">More Info</a></div>
    </div>
</div>-->



    
   
    <script src="{%  static 'css/mind.js' %}"></script>
</body>
</html>
